

    .section-1 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    
    



        .proyekt {
            display: flex;
        align-items: center;
            justify-content: center;
            gap: 20px;
            width: 950px;
            height: 330px;
            background: linear-gradient(262.8deg, #5B82CE 0%, #283C64 99.45%);
            border-radius: 30px;
            gap: 20px;
            padding: 30px;


            .proyekt-text {
                display: flex;
            align-items: start;
            justify-content: start;
                flex-direction: column;
                gap: 20px;


                h1 {
                    font-weight: 600;
                    font-size: 40px;
                    color: white;
                font-family: 'Times New Roman', Times, serif;
                }

                b {
                    font-weight: 600;
                    font-size: 16px;
                    color: white;
                    text-transform: uppercase;
                    font-family: 'Times New Roman', Times, serif;
                }


                button {
                    padding: 14px 35px;
                    border-radius: 10px;
                    font-weight: 600;
                    font-size: 18px;
                    background: rgba(94, 141, 234, 1);
                    color: rgba(244, 245, 250, 1);
                    border: none;
                    transition: all 0.3s ease-in-out;
                    cursor: pointer;

                    &:hover {
                        background-color: white;
                        color: black;
                    }

                }
            }

        }

        
        .history {
            display: flex;
        align-items: start;
        justify-content: start;
            flex-direction: column;
            width: 300px;
            height: 330px;
            background-color: white;
            padding: 28px 34px;
            border-radius: 30px;
            gap: 10px;



            .history-text {
                display: flex;
            align-items: start;
            justify-content: start;

                h2 {
                    font-weight: 500;
                    font-size: 20px;
                }
            }


            .download {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 16px;
            

                .download-img {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .anomaly {
                    display: flex;
                    align-items: start;
                    justify-content: start;
                    flex-direction: column;
                    gap: 5px;

                
                    b {
                        font-weight: 500;
                        font-size: 16px;
                    }
                    p {
                        font-weight: 400;
                        font-size: 12px;
                        color: rgba(61, 63, 90, 1);
                    }
                }


                .btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                

                    button {
                        width: 80px;
                        height: 30px;
                        border-radius: 10px;
                        background: rgba(250, 249, 254, 1);
                        border: none;
                        color :  rgba(94, 141, 234, 1);
                        font-size: 12px;
                        transition: all 0.3s ease-in-out;
                        cursor: pointer;


                        &:hover {
                            background-color: rgba(94, 141, 234, 1);
                            color: white;

                }
            }
        }


        }
    }
    }


    .section-2 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        margin-top: 40px;

        .content {
            display: flex;
            align-items: center;
            justify-content:center;
            flex-direction: column;
            gap: 34px;


            .categories {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 160px;

                h2 {
                    font-weight: 600;
                    font-size: 21px;
                    color: rgba(5, 7, 41, 1);
                }
            }


            .test {
                display: flex;
            align-items: start;
            justify-content: start;
                flex-direction: column;
                gap: 16px;


                .add {
                    display: flex;
                align-items: center;
                    justify-content: start;
                    padding: 20px;
                    width: 290px;
                    height: 50px;
                    border-radius: 10px;
                    background-color: white;
                    transition: all 0.3s ease-in-out;
                    cursor: pointer;



                    p {
                        font-weight: 500;
                        font-size: 16px;
                        color: rgba(147, 148, 165, 1);

                    }




                    &:hover {
                        background-color: rgba(94, 141, 234, 1);
                    
                        p {
                            color: black;
                        }
                    }
                }
            }
        }


                                
        .subway {
            display: flex;
         align-items: center;
         justify-content: start;

            flex-direction: column;
            width: 285px;
            height: 320px;
            background-color: white;
            border-radius: 10px;
            gap: 15px;
            
           


            h2 {
                font-weight: 500;
                font-size: 18px;
                color: rgba(5, 7, 41, 1);
                text-align: center;
            }

            .star {
                display: flex;
                align-items: center;
                justify-content: center;   
                gap: 10px;


            img {
                width: 15px;
                height: 15px;
            }
            }





            button {
                width: 250px;
                height: 40px;
                border-radius: 10px;
                background: rgba(94, 141, 234, 1);
                border: none;
                font-size: 16px;
                transition: all 0.3s ease-in-out;
                cursor: pointer;
                color: white;


                &:hover {
                    background-color: rgba(5, 7, 41, 1);
                }
            }
        }

    }


    .section-3 {
        display: flex;
     align-items: center;
   justify-content: start;
        gap: 30px;
        margin-top: 20px;
        background-color: white;
        padding: 25px;
        border-radius: 15px;







        .btns {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 25px;


            button {
                width: 70px;
                height: 34px;
                border: 1px solid rgb(157, 157, 157);
                border-radius: 10px;
                background-color: white;

                transition: all 0.3s ease-in-out;
                cursor: pointer;
                font-size: 14px;    


                &:hover {
                    // background-color: rgb(94, 141, 234);
                    background-color: black;
                    color: white;
                }
            }
        }
    }
